<!DOCTYPE html>
<html>
	<head>
	    <title>Bootstrap 101 Template</title>
	    <!-- Bootstrap -->
	    <style>
			body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">Ruby Demo :O</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active">
								<a href="/hola">Hola</a>
							</li>
							<li>
								<a href="/chau">Chau</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<%= yield%>
		</div>
		
	</body>
</html>